<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Car Search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>

<body class="container">
    <h1>Car Search</h1>
    <form action="/" method="get" class="pure-form">
        <label for="length">Length:</label>
        <input type="number" step="0.01" id="length" name="length" />
        <br />

        <label for="weight">Weight:</label>
        <input type="number" step="0.01" id="weight" name="weight" />
        <br />

        <label for="velocity">Velocity:</label>
        <input type="number" step="0.01" id="velocity" name="velocity" />
        <br />

        <label for="color">Color:</label>
        <input type="text" id="color" name="color" />
        <br />

        <button type="submit" class="pure-button pure-button-primary">Search</button>
    </form>

    <h1>Results</h1>
    <table border="1" class="pure-table">
        <thead>
            <tr>
                <th>Length</th>
                <th>Weight</th>
                <th>Velocity</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="car : ${cars}">
                <td th:text="${car.length}"></td>
                <td th:text="${car.weight}"></td>
                <td th:text="${car.velocity}"></td>
                <td th:text="${car.color}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>